

  <h2>add new merchant</h2>

  <form action="/merchants" method="post">
    <label for="name">name (e.g tesco):</label>
    <input type="text" name="name"><br>

    <input type='submit' value="add merchant">
  </form>


