<h1>Add new merchant</h1>

<form action="/merchant" method="post">
  <label for="merchant_name">Merchant Name (e.g Tesco):</label>
  <input type="text" name="merchant_name">


  <input type='submit' value="Add to Merchants">
</form>

