<div class="content">

  <h2>Add New Merchant</h2>

  <form action="/merchants" method="post">
    <label for="name">Name (e.g Tesco):</label>
    <input type="text" name="name"><br>

    <input type='submit' value="Add Merchant">
  </form>

</div>

