<div class="delete_merchant">
  <div class="box">

<%= @merchant.name %>


<form action="/merchants/<%= @merchant.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
  </div>

</div>