<div class="rainy_day"

<h1> Welcome to Rainy Day</h1>

<div class="box">
  <p> welcome to rainy day. here is the app which will help you track your spending so that you will always be ready for a rainy day. </p>
</div>

</div>