


  <div class="welcome">
  <h2> welcome!</h2><br>
  <p> so nice to see you.</p><br>
  <p> rainy day is going to help you track your spending and outgoings so that you can have some moola when that rainy day eventually comes. </p>
  </div>


