<!DOCTYPE html>
<html>
<head>
  <title>Money CashBoard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <nav>
   <ul>
     <li><a href="/merchants">Merchants</a> </li>
     <li><a href="/transactions">Daily Transactions</a> </li>
     <li><a href="/overview">Account</a> </li>
     <li><a href="/merchants/new">New Merchant</a> </li>
     <li><a href="/transactions/new">New Transaction</a> </li>
   </ul>
 </nav>
 <main>
 <%= yield %>
 </main> 
</body>  
</html>