<!DOCTYPE html>
<html>
<head>
  <title>Money CashBoard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <nav>
   <ul>
     <li><a href="/new">New Transaction</a> </li>
     <li><a href="/see all">See all transactions</a> </li>
     <li><a href="/total">Total Transactions</a> </li>
     <li><a href="/total/type">New Spend</a> </li>
   </ul>
 </nav>
 <main>
 <%= yield %>
 </main> 
</body>  
</html>