<!DOCTYPE html>
<html>
<head>
  <title>rainy day</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel= "stylesheet" href="<link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
</head>
<body>
 <nav>
  <div class="go_left">
    <div class="logo">
      <a href="/">rainy day</a>
    </div>
  </div>

  <div class="go_right">

   <ul>
     <li><a href="/transactions">all transactions</a> </li>
     <li><a href="/merchants">merchants</a> </li>
     <li><a href="/account">account</a> </li>
     <li><a href="/transactions/new">new transaction</a> </li>
   </ul>
   </div>
 </nav>
 <main>
 <%= yield %>
 </main> 
 <footer>
   rds &copy;2016
 </footer>
</body>  
</html>


    
