<h1>All my transactions</h1>

<ul>
<% @transactions.each do |transaction| %>
  <p><%= transaction.amount %></p>
  <p><%= transaction.type %></p>
  <p><%= transaction.merchant_name %></p>


 



  
<% end %>
</ul>