<div class="all_transactions">

<h1>hey big spender...</h1><br>

<ul>
<% @transactions.each do |transaction| %>
  <p><%= transaction.merchant.name %></p>
  <p>£<%= transaction.amount %></p>
  <p><%= transaction.type %></p><hr>
  
<% end %>
</ul>

</div>