<h1>Add new transaction here:</h1>


<form action="/transaction" method="post">
  <label for="type">Type (eg food):</label>
  <input type="text" name="type">
  <label for="amount">Amount:</label>
  <input type="number" name="amount">
  <label for="merchant">Merchant (eg Tesco):</label>
  <input type="text" name="merchant">

  <input type='submit' value="Add to Transactions">
</form>